{
    "extends": [
        "eslint:recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "airbnb"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        },
        "allowImportExportEverywhere": true
    },
    "rules": {
        "linebreak-style": [
            "off"
        ],
        "indent": [
            "error",
            4,
            {
                "ignoreComments": true
            }
        ],
        "comma-dangle": [
            "error",
            "always-multiline"
        ],
        "max-len": [
            "error",
            {
                "code": 120,
                "tabWidth": 4,
                "ignoreComments": true,
                "ignoreTrailingComments": true,
                "ignoreUrls": true
            }
        ],
        "func-style": [
            "error",
            "declaration",
            {
                "allowArrowFunctions": true
            }
        ]
    }
}